APP_NAME="DNS Panel RPZ"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://rpz.trevizamnetwork.com.br
LOG_CHANNEL=stderr
LOG_LEVEL=warning
DB_CONNECTION=sqlite
DB_DATABASE=/data/database.sqlite
DB_FOREIGN_KEYS=true
DB_BUSY_TIMEOUT=10000
DB_JOURNAL_MODE=WAL
DB_SYNCHRONOUS=NORMAL
QUEUE_CONNECTION=database
CACHE_STORE=database
SESSION_DRIVER=database
ANATEL_PYTHON_BIN=/opt/anatel-venv/bin/python
ANATEL_EXTRACT_TIMEOUT=120
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
TELEGRAM_MESSAGE_THREAD_ID=
