[Unit]
Description=Roda a sincronização da lista URLhaus do DNS Panel RPZ a cada 6 horas

[Timer]
OnCalendar=*-*-* 00,06,12,18:15:00
RandomizedDelaySec=300
Persistent=true

[Install]
WantedBy=timers.target
