[Unit]
Description=Roda o healthcheck do DNS Panel RPZ a cada 30 minutos

[Timer]
OnCalendar=*:0/30
RandomizedDelaySec=120
Persistent=true

[Install]
WantedBy=timers.target
