[Unit]
Description=Queue worker do DNS Panel RPZ
After=network.target

[Service]
Type=simple
User=devops
Group=www-data
WorkingDirectory=/opt/dns-panel-rpz
ExecStart=/usr/bin/php /opt/dns-panel-rpz/artisan queue:work database --sleep=1 --tries=1 --timeout=180
Restart=always
RestartSec=5
KillSignal=SIGTERM
TimeoutStopSec=30

[Install]
WantedBy=multi-user.target
