[Unit]
Description=Executa o healthcheck do DNS Panel RPZ a cada 30 minutos

[Timer]
OnCalendar=*:0/30
RandomizedDelaySec=120
Persistent=true
Unit=dns-panel-rpz-healthcheck.service

[Install]
WantedBy=timers.target
