[Unit]
Description=Healthcheck do DNS Panel RPZ em container
Requires=docker.service
Wants=network-online.target
After=docker.service network-online.target nginx.service
ConditionPathExists=/etc/nginx/tls/rpz.trevizamnetwork.com.br/cert.pem

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/dns-panel-rpz-healthcheck-docker
TimeoutStartSec=180
